#pragma once
---
Checks: >
  *,
  -altera-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -fuchsia-*,
  -llvm-header-guard,
  -llvm-include-order,
  -llvmlibc-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,

WarningsAsErrors: ".*"

FormatStyle: file

CheckOptions:
  # 命名規則
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassPrefix
    value: ""
  - key: readability-identifier-naming.InterfaceCase
    value: CamelCase
  - key: readability-identifier-naming.InterfacePrefix
    value: I
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: m_
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE

  # その他の設定
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: false
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: modernize-use-default-member-init.UseAssignment
    value: true
  - key: modernize-use-equals-default.IgnoreMacros
    value: true
  - key: readability-function-size.LineThreshold
    value: 50
  - key: readability-function-size.ParameterThreshold
    value: 5
  - key: readability-function-size.StatementThreshold
    value: 25
